[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ezkl = "*"
tf2onnx = "*"
tensorflow = "*"
tensorflow-datasets = "*"
matplotlib = "*"
numpy = "*"
psutil = "*"
memory-profiler = "*"
fire = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
